[core]
    excludesfile = ~/.gitignore_global
    pager = delta

[user]
    email = 34652535+kawaemon@users.noreply.github.com
    name = kawaemon
    signingKey = 7BB97A8CB456140E5DF3E9A1BD3245B1A7C7F65F

[alias]
    a = add
    s = status
    p = push
    c = commit
    ch = checkout
    b = branch

    # from https://qiita.com/Yinaura/items/30992f25b87f76af3ba2
    current-branch-name = ! git branch | grep -e '^\\* ' | sed -e 's/^\\* //g'
    force-pull = !git fetch && git reset --hard origin/$(git current-branch-name)

[commit]
    gpgsign = true

[pull]
    ff = only

[init]
	defaultBranch = master

[delta]
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Nord

[ghq]
    root = ~/repo

[interactive]
    diffFilter = delta --color-only

